/* =========================
   DARK AUTH THEME
========================= */

.auth-wrapper {
  min-height: 100vh;
  background: #000; /* Full black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  width: 100%;
  max-width: 420px;
  padding: 50px 40px;
  background: #111; /* Slight contrast */
  border: 1px solid #222;
}

.auth-title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 40px;
  letter-spacing: 3px;
  color: #fff; /* White text */
}

.input-group {
  margin-bottom: 30px;
  position: relative;
}

.input-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #333;
  padding: 12px 0;
  font-size: 14px;
  background: transparent;
  outline: none;
  color: #fff; /* White input text */
  letter-spacing: 1px;
}

.input-group input::placeholder {
  color: #888;
  letter-spacing: 1px;
}

.input-group input:focus {
  border-bottom: 1px solid #ff4d4d; /* Soft Strides red */
}

.password-group {
  display: flex;
  align-items: center;
}

.eye-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
  color: #aaa;
  transition: 0.3s;
}

.eye-icon:hover {
  color: #ff4d4d;
}

/* Primary Button */
.auth-btn {
  width: 100%;
  padding: 14px;
  background: #fff;
  color: #000;
  border: none;
  margin-top: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 2px;
  transition: 0.3s ease;
}

.auth-btn:hover {
  background: #ff4d4d;
  color: #fff;
}

/* Outline Button */
.auth-outline-btn {
  width: 100%;
  padding: 14px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.3s ease;
}

.auth-outline-btn:hover {
  background: #fff;
  color: #000;
}

.auth-link {
  margin-top: 20px;
  font-size: 14px;
  color: #aaa;
  text-align: center;
  cursor: pointer;
}

.auth-link:hover {
  color: #fff;
}