.checkout-page {
  padding: 80px 5%;
  background: #000;
  color: #fff;
  min-height: 100vh;
}

.checkout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

/* FORM SECTION */
.checkout-form label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #ccc;
}

.checkout-form input,
.checkout-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  background: #111;
  border: 1px solid #222;
  color: #fff;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

.checkout-form input:focus,
.checkout-form textarea:focus {
  border-color: #555;
}

/* Coupon Row */
.coupon-row {
  display: flex;
  gap: 10px;
}

.coupon-row input {
  flex: 1;
}

.coupon-row button {
  background: #444;
  padding: 14px 20px;
  border-radius: 8px;
  width: auto;
}

/* Total */
.checkout-form h3 {
  margin: 20px 0;
  font-size: 18px;
}

/* Primary Button */
.btn-primary {
  background:  #ff1a1a;
  border: none;
  padding: 14px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  background:#ff4d4d;
  transform: translateY(-2px);
}

/* SUMMARY */
.checkout-summary {
  background: #111;
  border: 1px solid #222;
  padding: 30px;
  border-radius: 12px;
}

.summary-details {
  flex: 1;
}

.product-name {
  font-weight: 600;
  margin-bottom: 5px;
}


.checkout-summary h3 {
  margin-bottom: 20px;
}

.summary-item {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #222;
}
.summary-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #222;
}


.checkout-summary hr {
  border: 1px solid #222;
  margin: 20px 0;
}

/* Responsive */
@media (max-width: 900px) {
  .checkout-grid {
    grid-template-columns: 1fr;
  }

  .checkout-summary {
    margin-top: 40px;
  }
}