/* =========================
   GLOBAL RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #000;
  color: #fff;
  line-height: 1.6;
}


a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

/* =========================
   LAYOUT
========================= */

.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

.section {
  padding: 80px 0;
}

.text-center {
  text-align: center;
}

/* =========================
   HEADINGS
========================= */

h1 {
  font-size: 42px;
  font-weight: 600;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

/* =========================
   BUTTONS
========================= */

.btn-primary {
  background: #000;
  color: #fff;
  padding: 14px 28px;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background: #333;
}

.search-bar {
  display: flex;
  width: 100%;
  max-width: 500px;
  background: #111;
  border: 1px solid #222;
  border-radius: 30px;
  overflow: hidden;
}

.search-bar-input {
  flex: 1;
  background: transparent;
  border: none;
  padding: 12px 20px;
  color: #fff;
  font-size: 14px;
  outline: none;
}

.search-bar-input::placeholder {
  color: #777;
}

.search-btn {
  background: #fff;
  color: #000;
  padding: 0 20px;
  font-size: 14px;
  border: none;
  transition: 0.3s;
}

.search-btn:hover {
  background: #ddd;
}
