.navbar {
  padding: 18px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  background: #000;
  border-bottom: 1px solid #222;
}

.logo-image {
  height: 45px;
  border-radius: 50%;
}

.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-right a {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  transition: 0.2s;
}


.nav-right button {
  background: transparent;
  font-size: 14px;
}


.nav-right a:hover {
  color: #aaa;
}

.logout {
  color:#ffffff;
}

.logout :hover{
  color: #aaa;
}